target/
.mvn/wrapper/maven-wrapper.jar
frontend/dist/
frontend/node_modules/
android-app/.gradle/
android-app/app/build/
!frontend/public/downloads/
!frontend/public/downloads/Lqtigee-debug.apk

.env
.env.*
*.log

.idea/
.vscode/
*.iml

.DS_Store
